{% extends 'base.html' %}

{% block title %}
    Todo list
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">
            	<form action="{% url 'check_url' pk=task.pk %}" method="post">
                    {% csrf_token %}
            		{% if task.check == False %}
            			<input type="submit" value="In process" class="btn btn-danger">
            		{% else %}
            			<input type="submit" value="Check!!!" class="btn btn-success">
            		{% endif %}
            	</form>
                <a href="{% url 'detail_url' pk=task.id %}">{{ task.title|title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}